/* Colors */

:root {
  --primary-color: #1D4E89;
  --secondary-color: #1A787C;
  --contrast-color: #E8B873;
  --triadic-color: #A62A61;
  --extra-color: #F5F2EA;
}

h1 {
    text-align: center;
    color: var(--primary-color);
}

body { 
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navagation-logo {
    width: 10%;
    height: 10%;
}

a {
    text-decoration: none;
}

main {
    text-align: center;
    justify-items: center;
}

header {
    text-align: center;
}

table {
    justify-self: stretch;
    border: 2px solid black;
    border-collapse: collapse;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

th, td, tr{
    border: 2px solid black;
    border-collapse: collapse;
    margin: 5px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    border: 2px solid green;
    margin: 10px;

}

#Geometry {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: .2%;
    max-height: 500px;
    max-width: 260px;
}

.show {
    color: pink; 
}

.subtitle {
    justify-self: center;
}

#meek {
    max-width: 300px;
    max-height: 220px;
}

h2 {
    display: flex;
    justify-self: center;
}